<div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="64px" style="height:100%" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="center start">
    <div style="width:300px">
        <div *ngIf="!_selectedTrip.id ; else existing" fxLayout="row" fxLayoutAlign="space-between center">
            <h3>Book a New Trip</h3>
            <!-- <button mat-icon-button matTooltip="Clear Form">
                <mat-icon>clear</mat-icon>
            </button> -->
        </div>
        <ng-template #existing>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <h3>Review Confirmed Trip</h3>
                <button mat-icon-button matTooltip="New Trip" (click)="new()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </ng-template>
        <mat-divider style="margin-bottom:16px"></mat-divider>
        <form [formGroup]="form" fxLayout="column">

            <mat-form-field>
                <input matInput #pickupInput placeholder="Pick Up" ngx-google-places-autocomplete formControlName="pickUpFormattedAddress"
                    [options]='autoCompleteOptions' #placesRef="ngx-places" (onAddressChange)="pickUpAddressChange($event)">
            </mat-form-field>

            <mat-form-field>
                <input matInput #destinationInput placeholder="Destination" ngx-google-places-autocomplete formControlName="destinationFormattedAddress"
                    [options]='autoCompleteOptions' #placesRef="ngx-places" (onAddressChange)="destinationAddressChange($event)">
            </mat-form-field>

            <mat-form-field>
                <input matInput #pickupTimeInput formControlName="pickupLocalTime" #timePicker [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                    placeholder="Pick Up Date & Time">
                <owl-date-time #dt1></owl-date-time>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Mobile Phone" formControlName="mobile">
                <mat-error *ngIf="form.controls.mobile.errors?.pattern">Please ensure it is a valid number</mat-error>
            </mat-form-field>

        </form>
        <div *ngIf="directions" fxLayout="column" fxLayoutGap="16px">
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-direction [origin]="directions.origin" [destination]="directions.destination" (onChange)="directionChange($event)" [panel]="directionPanel"></agm-direction>
                <div #directionPanel></div>
            </agm-map>

            <div fxLayout="column">
                <h3>Trip Travel Info</h3>
                <span>Distance: {{distance?.text}}</span>
                <span>Duration: {{duration?.text}}</span>

            </div>

            <button *ngIf="_selectedTrip.id==null" [disabled]="form.invalid" mat-raised-button (click)="save()">Save</button>
        </div>
    </div>
    <div *ngIf="trips.length>0">
        <h3>Confirmed Trips</h3>
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item *ngFor="let entity of trips" (click)="onSelectTrip.emit(entity.id)" style="cursor: pointer">

                <h3 matLine>
                    <strong>Pickup</strong> {{entity.pickup | tripDisplay : 'suburb'}} </h3>
                <h3 matLine>
                    <strong>Destination</strong> {{entity.destination | tripDisplay : 'suburb'}} </h3>


                <p matLine>
                    <span>
                        <strong>Pickup Time</strong> {{entity | tripDisplay : 'local-time'}} </span>
                </p>
                <p matLine>
                    <span>
                        <strong>Arrival Time</strong> {{entity | tripDisplay : 'drop-off-time'}} </span>
                </p>
                <p matLine>
                    <strong>Duration</strong> {{entity.duration.text}}</p>
                <p matLine>
                    <span>
                        <strong>Pickup ISO</strong> {{entity | tripDisplay : 'iso-time'}} </span>
                </p>
            </mat-list-item>
        </mat-list>


    </div>
</div>